<div class="card w-100 rounded-4 border-0 overflow-hidden">
    <div class="card w-100" id="top">
        <h4>{{formTitle}}</h4>
    </div>

        <div class="card-body d-flex text-left overflow-scroll gap-3">
            
            <div class="col-6">
                <div class="d-flex gap-5">
                    <textarea id="textArea" cols=50 rows=10 disabled readonly>{{registro.modeloPrevio}}</textarea>
                </div>
            </div>
            <div class="col-6">
                <div class="d-flex gap-5">
                <textarea id="textArea" cols=50 rows=10 disabled readonly>{{registro.modeloNuevo}}</textarea>
            </div>
        </div>
</div>