{% extends "home.html" %}
{% load static %}
    
{% block content %}

<div class="card w-100 m-3 rounded-4">
    <div class="card w-100 justify-content-center" id="top">
        <h4 class="m-0 p-0">{{title}}</h4>
    </div>

    <table class="table">
        <thead>
            <tr class="table-danger">
                <th scope="col" class="ps-5">ID</th>
                <th scope="col">LOCKER</th>
                <th scope="col">COMENTARIO</th>
                <th scope="col" class="p-0 align-content-center justify-content-end text-end pe-5">
                    <a class="btn btn-danger h-1 fw-bold" onClick="openModal('{% url "CrearLocker" %}')"><img src="{% static "image/add.svg" %}"> Locker</a>
                    <a class="btn btn-danger h-1 fw-bold" onClick="openModal('{% url "CrearCaja" %}')"><img src="{% static "image/add.svg" %}"> Caja</a>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for locker in lockers %} 
                <tr>
                    <td scope="row" class="ps-5">{{ locker.id }}</td>
                    <td>{{ locker.nameTag}}</td>
                    <td>{{ locker.comentario }}</td>  
                    <td class="p-0 align-content-center justify-content-end text-end pe-5">
                        {% if locker.habitado %}
                        <a class="btn bg-success fw-bold" onclick="openModal('{% url "BodegaLocker" locker.id %}')"><img src="{% static "image/list.svg" %}"></a>
                        {% else %}
                        <a class="btn bg-danger fw-bold" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Para ver el contenido del locker debe estar poblado primero."><img src="{% static "image/list.svg" %}"></a>
                        {% endif %}
                        <a class="btn bg-success fw-bold" onclick="openModal('{% url "DetallesLocker" locker.id %}')"><img src="{% static "image/details.svg" %}"></a>
                        <a class="btn bg-info fw-bold" data-bs-placement="left" data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip" data-bs-html="true" data-bs-title="<img src='{{locker.adjunto}}' height='250px' />"><img src="{% static "image/image.svg" %}"></a>
                        <a class="btn bg-warning fw-bold" onclick="openModal('{% url "ActualizarLocker" locker.id %}')"><img src="{% static "image/edit.svg" %}"></a>
                        {% if locker.habitado %}
                        <a class="btn btn-danger fw-bold" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="El locker debe estar vacio para poder eliminarlo."><img src="{% static "image/delete.svg" %}"></a>
                        {% else %}
                        <a class="btn btn-danger align-items-center fw-bold" onClick="openModal('{% url "BorrarLocker" locker.id %}')"><img src="{% static "image/delete.svg" %}"></a>
                        {% endif %}

                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}