<div class="modal fade" id="myModal"
tabindex="-1"
data-bs-backdrop="static"
>

    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
            <div class="modal-content rounded-4 border-0 overflow-visible" id="myModalContent" class="modal-body m-0 p-0">
            <button id="modalCloseButton" type="button" class="modalCloseButton" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="modal-content" id="myModalContent" class="modal-body m-0 p-0">
                    {% block content %}
                    404
                    {% endblock content %}
                </div>
            </div>
    </div>

</div>