{% load static %}

<div class="card w-100 rounded-4 border-0 overflow-hidden bg-danger p-5">
    <div class="align-self-center">
        <img src = "{% static "image/delete.svg" %}"/>
    </div>
    <h1 class="text-white">Seguro de borrar?</h1>
    <h2 class="text-white">Esta acción es irrevesible</h2>
    <form onsubmit="confirmDelete('{{request.get_full_path}}',this)">
        {% csrf_token %}
        <button type="submit" class="btn bg-white" style="color: red;" >Aceptar</button>
        <button class="btn bg-white" style="color: red;" data-bs-dismiss="modal">Cancelar</button>
    </form>
    <br>
</div>